
<form [formGroup]="taskForm" class="w-96 max-h-[630px] overflow-auto" >
  <mat-card>

    <mat-card-header class="mb-8">
      <mat-card-title>Add new task</mat-card-title>
    </mat-card-header>

    <mat-card-content class="flex flex-col">
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input type="text" matInput formControlName="title" />
        <mat-error *ngIf="fieldTitle?.hasError('required')" >This field is required</mat-error>
        <mat-error *ngIf="fieldTitle?.hasError('maxlength')" >Max. 100 characters</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
        <mat-error *ngIf="fieldDescription?.hasError('required')" >This field is required</mat-error>
        <mat-error *ngIf="fieldDescription?.hasError('maxlength')" >Max. 300 characters</mat-error>
      </mat-form-field>

      <div formArrayName="tasks" class="mb-8" >
        <h2 class="text-lg">Subtask</h2>

        <ng-container *ngFor="let task of tasks.controls; let i=index" >
          <div class="flex gap-x-4">
            <mat-form-field class="w-full">
              <input id="index-{{i}}" matInput type="text" [formControlName]="i">
              <mat-error *ngIf="tasks.controls[i].hasError('maxlength') || tasks.controls[i].hasError('minlength')" >Min. 15 and Max. 30 characters</mat-error>
            </mat-form-field>
            <button mat-icon-button (click)="removeSubtask(i)" class="mt-1 cursor-pointer flex items-center" >
              <mat-icon>clear</mat-icon>
            </button>
          </div>
        </ng-container>

        <mat-card-actions>
          <button mat-raised-button type="button" color="primary" (click)="addSubtask()" class="w-full" >+ Add New Subtask</button>
        </mat-card-actions>
      </div>

      <mat-form-field>
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
          <mat-option *ngFor="let option of status" [value]="option.value" >{{option.valueView}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-card-actions>
        <button [disabled]="taskForm.invalid" type="button" [mat-dialog-close]="task" mat-raised-button color="primary" class="w-full" >Create task</button>
      </mat-card-actions>

    </mat-card-content>
  </mat-card>

</form>
