<div class="p-3 w-full h-full">
  <div class="flex items-center gap-4">
    <div class="h-5 w-5 rounded-full" [ngClass]="color === 'blue' ? 'bg-blue-500': color === 'green' ? 'bg-green-500' : 'bg-purple-500' " ></div>
    <h2 class="m-0" >{{title}}</h2>
  </div>
  <div
    class="w-full h-full list-box-item"
    cdkDropList
    [cdkDropListData]="data"
    (cdkDropListDropped)="drop($event)"
  >
    <ng-container *ngFor="let task of data">
      <app-drag-item [item]="task" />
    </ng-container>
  </div>
</div>
