<div class="p-3 w-full h-full">
  <div class="flex items-center gap-4">
    <div class="h-5 w-5 rounded-full" [ngClass]="color === 'blue' ? 'bg-blue-500': color === 'green' ? 'bg-green-500' : 'bg-purple-500' " ></div>
    <h2 class="m-0" >{{title}}</h2>
  </div>
  <div
    class="w-full h-full list-box-item"
    cdkDropList
    [cdkDropListData]="data"
    (cdkDropListDropped)="drop($event)"
  >
    <mat-card cdkDrag *ngFor="let item of data"  class="box-item cursor-move mb-3">
      <mat-card-header>
        <mat-card-title>{{item.title}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>{{numberSubstasksDone(item.subtasks)}}</mat-card-content>
    </mat-card>
  </div>
</div>
