
<div class="flex flex-col absolute inset-0" >
  <mat-sidenav-container class="flex-1">

    <mat-sidenav
      #side
      [opened]="mobileQuery.matches"
      [mode]="mobileQuery.matches ? 'side' : 'over' "
      class="w-72"
    >
      <mat-toolbar color="primary">
        <button
          color="primary"
          type="button"
          (click)="side.toggle()"
          mat-mini-fab
        >
          <mat-icon class="rotate-90" >menu</mat-icon>
        </button>
        <h1 class="mb-0 ml-4 font-bold tracking-widest">Kamban</h1>
      </mat-toolbar>

      <mat-action-list>
        <button mat-list-item *ngFor="let item of listBoard | async" >
          <mat-icon matListItemIcon >dashboard</mat-icon>
          <mat-list-item>{{item.title}}</mat-list-item>
        </button>
      </mat-action-list>

      <button type="button" mat-button color="primary" (click)="openDialog()" >
        <mat-icon>dashboard</mat-icon>
        <span>+ Create new board</span>
      </button>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar class="sticky top-0 z-10 gap-x-4" color="primary" >

          <button
            type="button"
            color="primary"
            (click)="side.toggle()"
            [class.sm:hidden]="mobileQuery.matches"
            mat-mini-fab
          >
            <mat-icon class="rotate-90">menu</mat-icon>
          </button>

          <h2 class="text-base m-0 sm:text-xl">Platform Launch</h2>
          <span class="flex-grow"></span>
          <button class="hover:bg-indigo-800" type="button" mat-button>
            <mat-icon>add</mat-icon>
            <span>Add task</span>
          </button>
      </mat-toolbar>

      <div *ngIf="actualBoard" class="grid grid-cols-1 sm:grid-cols-3" cdkDropListGroup>

        <div class="p-3">
          <h2>Todo</h2>
          <div
            cdkDropList
            #todoList="cdkDropList"
            [cdkDropListData]="actualBoard.listTodo"
            (cdkDropListDropped)="drop($event)"
            class="space-y-3"
          >
            <mat-card cdkDrag *ngFor="let item of actualBoard.listTodo" class="cursor-pointer">
              <mat-card-header>
                <mat-card-title>{{item.title}}</mat-card-title>
              </mat-card-header>
              <mat-card-content>{{numberSubstasksDone(item.subtasks)}}</mat-card-content>
            </mat-card>
          </div>
        </div>

        <div class="p-3">
          <h2>Doing</h2>
          <div
            cdkDropList
            #doingList="cdkDropList"
            [cdkDropListData]="actualBoard.listDoing"
            (cdkDropListDropped)="drop($event)"
            class="space-y-3"
          >
            <mat-card cdkDrag *ngFor="let item of actualBoard.listDoing" class="cursor-pointer">
              <mat-card-header>
                <mat-card-title>{{item.title}}</mat-card-title>
              </mat-card-header>
              <mat-card-content>{{numberSubstasksDone(item.subtasks)}}</mat-card-content>
            </mat-card>
          </div>
        </div>

        <div class="p-3">
          <h2>Done</h2>
          <div
            cdkDropList
            #doneList="cdkDropList"
            [cdkDropListData]="actualBoard.listDone"
            (cdkDropListDropped)="drop($event)"
            class="space-y-3"
          >
            <mat-card cdkDrag *ngFor="let item of actualBoard.listDone" class="cursor-pointer">
              <mat-card-header>
                <mat-card-title>{{item.title}}</mat-card-title>
              </mat-card-header>
              <mat-card-content>{{numberSubstasksDone(item.subtasks)}}</mat-card-content>
            </mat-card>
          </div>
        </div>

      </div>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>










