
<div class="flex flex-col absolute inset-0" >
  <mat-sidenav-container class="flex-1">

    <mat-sidenav
      #side
      [opened]="mobileQuery.matches"
      [mode]="mobileQuery.matches ? 'side' : 'over' "
      class="w-72"
    >
      <mat-toolbar color="primary">
        <button
          color="primary"
          type="button"
          (click)="side.toggle()"
          mat-mini-fab
        >
          <mat-icon class="rotate-90" >menu</mat-icon>
        </button>
        <h1 class="mb-0 ml-4 font-bold tracking-widest">Kamban</h1>
      </mat-toolbar>

      <mat-action-list>
        <button mat-list-item *ngFor="let item of listBoard | async" >
          <mat-icon matListItemIcon >dashboard</mat-icon>
          <mat-list-item>{{item.title}}</mat-list-item>
        </button>
      </mat-action-list>

      <button type="button" mat-button color="primary" (click)="openDialogAddBoard()" >
        <mat-icon>dashboard</mat-icon>
        <span>+ Create new board</span>
      </button>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar class="sticky top-0 z-10 gap-x-4" color="primary" >

          <button
            type="button"
            color="primary"
            (click)="side.toggle()"
            [class.sm:hidden]="mobileQuery.matches"
            mat-mini-fab
          >
            <mat-icon class="rotate-90">menu</mat-icon>
          </button>

          <h2 class="text-base m-0 sm:text-xl">Platform Launch</h2>
          <span class="flex-grow"></span>
          <button class="hover:bg-indigo-800" type="button" mat-button (click)="openDialogAddTask()">
            <mat-icon>add</mat-icon>
            <span>Add task</span>
          </button>
      </mat-toolbar>

      <ng-container *ngIf="actualBoard">
        <app-drag-and-drog [board]="actualBoard" (moveItems)="updateBoardActual()" />
      </ng-container>

      <!-- <button mat-raised-button (click)="openDialogViewTaskAndUpdateProgress()" >Open view task</button> -->

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>










