
<div class="w-[450px] max-h-[630px] overflow-auto" >
  <h1 mat-dialog-title >{{data.title}}</h1>
  <p mat-dialog-content >{{data.description}}</p>

  <div mat-dialog-content>
    <form [formGroup]="editForm" >

      <div formGroupName="subtasks">
        <!-- Asociando cada tarea con los controles creados en el ngOnInit, por medio del index -->
        <p mat-dialog-title>{{completedSubtasks}}</p>

        <div *ngFor="let task of data.subtasks; let i = index">
          <mat-checkbox [formControlName]="i" >{{task.description}}</mat-checkbox>
        </div>
      </div>

      <mat-form-field>
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
          <mat-option *ngFor="let option of status" [value]="option.value" >{{option.valueView}}</mat-option>
        </mat-select>
      </mat-form-field>

    </form>
  </div>
</div>
